body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-family: 'Roboto Slab', serif;

}
.data{
	padding : 2%;
}
.image{
	width:100%;
}
.icon li{
    display: inline-block;
    margin : 4%;
}
.icon-card{
	border-radius: 10px;
	width:300px;
	height:300px;
	padding:2%;
}